body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

img{
    max-width: 100%;
    height: auto;
}

header,
footer{
    background-color: var(--hero-footer-background);
    padding: 0 5% 60px;
}

/* nav-section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav-brand{
    display: flex;
    align-items: center;
}

#nav-logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#nav-links-header {
    display: flex;   
    gap: 60px;
 
}

#nav-links-header a {
    color: var(--header-link-text);
    font-family: var(--font-family);
    font-size: var(--header-link-size);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

#nav-links-header a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 2px;
    background-color: var(--button-background);
    border-radius: 10px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

#nav-links-header a:hover {
    color: var(--button-background);
}

#nav-links-header a:hover::after {
    width: 100%;
}

/* footer Section */
 footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
 }
 
 #footer-left{
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    padding-right: 20px;
    padding-top: 20px;
 }

 #footer-logo{
    width: 150px;
    height: 70px;
    object-fit: contain;

 }

#footer-text{
    color: var(--hero-secondary-text);
    font-size: var(--hero-secondary-size);
}

#footer-copyright{
    color: var(--hero-secondary-text);
    font-size: 14px;
}

.footer-links{
     display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
    margin-top: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links h4 {
    color: var(--hero-main-text);
    margin: 0 0 20px;
    
}


.footer-links li {
    margin-bottom: 12px;
}

.footer-links i {
    width: 20px;
    font-size: 18px;
    text-align: center;
    transition: color 0.2s ease;

}

.footer-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--hero-secondary-text);
    text-decoration: none;
    font-size: var(--hero-secondary-size);
    transition: color 0.2s ease;
}

.footer-links a:hover,
.footer-links a:hover span,
.footer-links a:hover i {
    color: #3882F6 !important;
}